<div class="container mydashboard">
    <style>
    /* only modify th from this dashboard! */
    .mydashboard table th {
        font-size 24pt;
    }
    </style>
    {% for chart in charts %}
    <canvas id="{{chart.id}}" width="400" height="100"></canvas>
    {% endfor %}
    <script>
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        // We use Chart.js for rendering a chart, we first have to download it from internet
        // (will be cached by the browser)
        $.getScript("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js",
            // See http://www.chartjs.org/docs/ for more details
            function createChart() {
                {% for chart in charts %}
                new Chart("{{chart.id}}", {
                    type: 'line',
                    data: {
                        datasets: [
                        {% for dataset in chart.datasets %}
                        {
                            label: '{{dataset.name}} [{{dataset.unit}}]',
                            borderColor: getRandomColor(),
                            data: {{dataset.data | tojson | safe}},
                            name: '{{dataset.name}}',
                            unit: '{{dataset.unit}}'
                        },
                        {% endfor %}
                        ]
                    },
                    options: {
                        title:{
                            display: true,
                            text: '{{chart.name}}: {{chart.description}}'
                        },
                        scales: {
                            xAxes: [{
                                type: 'linear',
                                position: 'bottom',
                                beginAtZero: {{chart.absoluteAxis | tojson}}
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var label = dataset.name || '';

                                    if (label) {
                                        label += ': ';
                                    }
                                    label += Math.round(tooltipItem.yLabel * 100) / 100;
                                    label += " [" + dataset.unit + "]"
                                    return label;
                                },
                                afterLabel: function(tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var data = dataset.data[tooltipItem.index];
                                    var label = 'Date: ' + data.timestamp;
                                    label += ' Commit: ' + data.commit;
                                    return label;
                                }
                            }
                        }
                    }
                });
                {% endfor %}
            }
        );
    </script>
</div>
